# Documentation
include HISTORY.md
include LICENSE
include README.md

# Static assets and templates
graft scrapydweb/static
graft scrapydweb/templates

# Demo projects and sample data
include scrapydweb/data/parse/ScrapydWeb_demo.log
recursive-include scrapydweb/data/demo_projects *

# Exclusions
global-exclude *.pyc
global-exclude __pycache__
